select.sangria-select {
  display: none;
}

.ss_wrap {
  position: relative;
  width: 100px;
}

.ss_selected_value {
  text-decoration: none;
  box-sizing: border-box;
  display: block;
  padding: 5px 10px;
  width: 100%;
  border: 1px solid #eee;
  z-index: 500;
}

ul.ss_option_list {
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 1px solid #ddd;
  background: #fff;
  z-index: 1000;
}
ul.ss_option_list.close {
  display: none;
}
ul.ss_option_list li {
  list-style: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  padding: 5px 10px;
}
ul.ss_option_list li:hover {
  background: #e3e3e3;
}
