@charset "UTF-8";
select.sangria-select {
  display: none;
}

.ss_wrap {
  position: relative;
  display: inline-block;
  width: 120px;
}
.ss_wrap.open.list_up .ss_selected_value {
  border-radius: 0 0 3px 3px;
  border-top: none;
}
.ss_wrap.open.list_down .ss_selected_value {
  border-radius: 3px 3px 0 0;
  border-bottom: none;
}
.ss_wrap.open.image .ss_selected_value:after {
  background-position: 0 0;
}
.ss_wrap.close ul.ss_option_list {
  display: none;
}
.ss_wrap.image .ss_selected_value:after {
  content: "　";
  width: 10px;
  height: 14px;
  background-image: url("../image/su-arrow.svg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  right: 5px;
  top: 50%;
  margin-top: -7px;
  background-position: -18px 0;
}
.ss_wrap.disabled {
  opacity: 0.4;
}

.ss_selected_value {
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 32px;
  color: #2d2d2d;
  font-size: 12px;
  text-decoration: none;
  box-sizing: border-box;
  display: block;
  padding: 7px 15px 7px 10px;
  width: 100%;
  border: 1px solid #555555;
  z-index: 500;
  border-radius: 3px;
}
.ss_selected_value .su-icon.icon-su-arrow-down {
  position: absolute;
  right: 3px;
  top: 10px;
}
.ss_selected_value .su-icon.icon-su-arrow-up {
  position: absolute;
  right: 3px;
  top: 9px;
}

ul.ss_option_list {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #fff;
  z-index: 1000;
  max-height: 200px;
  overflow-x: hidden;
  overflow-y: scroll;
  /* 스크롤 바 */
  /* 스크롤 바 밑의 배경 */
  /* 실질적 스크롤 바 */
  /* 실질적 스크롤 바 위에 마우스를 올려다 둘 때 */
  /* 실질적 스크롤 바를 클릭할 때 */
  /* 스크롤 바 상 하단 버튼 */
}
ul.ss_option_list::-webkit-scrollbar {
  width: 5.2px;
}
ul.ss_option_list::-webkit-scrollbar-track {
  background-color: #eee;
}
ul.ss_option_list::-webkit-scrollbar-thumb {
  background: #ddd;
  border-radius: 10px;
}
ul.ss_option_list::-webkit-scrollbar-thumb:hover {
  background: #404040;
}
ul.ss_option_list::-webkit-scrollbar-thumb:active {
  background: #808080;
}
ul.ss_option_list::-webkit-scrollbar-button {
  display: none;
}
ul.ss_option_list li {
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 26px;
  font-size: 12px;
  color: #2d2d2d;
  list-style: none;
  margin: 0;
  cursor: pointer;
  padding: 5px 10px;
}
ul.ss_option_list li:hover {
  background: #e3e3e3;
}

.ss_wrap.list_up .ss_option_list {
  border-radius: 3px 3px 0 0;
  border-top: 1px solid #555555;
  border-left: 1px solid #555555;
  border-right: 1px solid #555555;
  border-bottom: none;
  bottom: 31px;
}

.ss_wrap.list_down .ss_option_list {
  border-radius: 0 0 3px 3px;
  border-top: none;
  border-left: 1px solid #555555;
  border-right: 1px solid #555555;
  border-bottom: 1px solid #555555;
}
