$fontColor:#2d2d2d;
$borderColor: #555555;

select.sangria-select{
	display: none;
}

.ss_wrap{
	position: relative;
	display: inline-block;
	width: 120px;

	&.open{
		.ss_selected_value{
			border-radius: 3px 3px 0 0;
			border-bottom: none;
		}

		&.image{
			.ss_selected_value:after{
				background-position: 0 0;
			}
		}
	}

	&.close{
		ul.ss_option_list{
			display: none;
		}
	}

	&.image{
		.ss_selected_value:after{
			content: '　';
			width: 10px;
			height: 14px;
			background-image: url("../image/su-arrow.svg");
			background-repeat: no-repeat;
			background-size: cover;
			position: absolute;
			right: 5px;
			top: 50%;
			margin-top: -7px;
			background-position: -18px 0;
		}
	}
}

.ss_selected_value{
	position: relative;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 32px;
	color: $fontColor;
	font-size: 12px;
	text-decoration: none;
	box-sizing: border-box;
	display: block;
	padding: 7px 15px 7px 10px;
	width: 100%;
	border: 1px solid $borderColor;
	z-index: 500;
	border-radius: 3px;

	.su-icon{
		&.icon-su-arrow-down{
			position: absolute;
			right: 3px;
			top: 10px;
		}
		&.icon-su-arrow-up{
			position: absolute;
			right: 3px;
			top: 9px;
		}
	}
}

ul.ss_option_list{
	border-radius: 0 0 3px 3px;
	box-sizing: border-box;
	position: absolute;
	width: 100%;
	margin: 0;
	padding: 0;
	border-top: none;
	border-left: 1px solid $borderColor;
	border-right: 1px solid $borderColor;
	border-bottom: 1px solid $borderColor;
	background: #fff;
	z-index: 1000;

	max-height: 200px;
	overflow-x: hidden;
	overflow-y: scroll;

	&::-webkit-scrollbar { width: 5.2px; } /* 스크롤 바 */
	&::-webkit-scrollbar-track { background-color:#fff; } /* 스크롤 바 밑의 배경 */
	&::-webkit-scrollbar-thumb { background: #ddd; border-radius: 10px; } /* 실질적 스크롤 바 */
	&::-webkit-scrollbar-thumb:hover { background: #404040; } /* 실질적 스크롤 바 위에 마우스를 올려다 둘 때 */
	&::-webkit-scrollbar-thumb:active { background: #808080; } /* 실질적 스크롤 바를 클릭할 때 */
	&::-webkit-scrollbar-button { display: none; } /* 스크롤 바 상 하단 버튼 */

	li{
		box-sizing: border-box;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		height: 26px;
		font-size: 12px;
		color: $fontColor;
		list-style: none;
		margin: 0;
		cursor: pointer;
		padding: 5px 10px;

		&:hover{
			background: #e3e3e3;
		}
	}
}